#personal-info {
    display: flex;
    flex-direction: row;
}

#info {
    margin: 1%;
    margin-right: 15%
}

#sessions {
    margin-top: 1.5%;
    margin-left: 10%;
}

#divider {
     margin-top: 2%;
}

#tables {
  }
#firstBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}
#incomeBlock{
    display: flex;
    flex-direction: column;
    width:20vw;
    height: 100%;
}
#income{
    height: 47px;
    width: 10%;
}
